main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main button {
    width: clamp(100px, 100%, 200px);
    height: 51px;
    background: var(--primary-color);
    border-radius: 4px;
    outline: none;
    border: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.015em;
    color: #473404;
    cursor: pointer;
    margin: 1rem;
}