main {
    background: var(--background);
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main .Loading {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}